@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("fonts/Kanit-Regular.tff"); */
/* 
@font-face {
	font-family: 'Kanit';
	src: url('$lib/fonts/Kanit-Regular.ttf');
}

@font-face {
	font-family: 'AlfaSlabOne';
	src: url('$lib/fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
	font-family: 'Michroma';
	src: url('$lib/fonts/Michroma-Regular.ttf');
} */
